// Estilos generales
html {
    font-size: 62.5%; // 1rem = 10px (62.5% de 16px)
  }
  
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  // Hero section
  // Actividades
  .activities {
    padding: 2rem;
    text-align: center;
    background-color: #f4f4f4;
  
    .activity-list {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
    }
    h2{
      font-size: 3rem;
    }
  }
  
  // Footer
  .footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
  
    a {
      color: rgb(0, 150, 150);
      text-decoration: none;
    }
  }
  